<%- include('partials/header') -%>
  <!-- navabar-start -->
  <nav class="navbar navbar-dark bg-dark border-bottom-5">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Binary Upload Boom</a>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <!-- dropdown-start -->
      <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Username
        </button>
        <ul class="dropdown-menu dropdown-menu-start">
          <li><button class="dropdown-item" type="button">Dark Mode</button></li>
          <li><hr class="dropdown-divider"></li>
          <li><button class="dropdown-item href=#" type="button">Settings</button></li>
          <li><hr class="dropdown-divider"></li>
          <li><button class="dropdown-item href=#" type="button">Logout</button></li>
        </ul>
      </div>
      <!-- dropdown-end -->
    </div>
  </nav>
  <!-- nav -->
  <div class="container">
    <div class="row mt-5">
      <div class="col-6">
        <div>
          <p><strong>User Name</strong>: <%= user.userName %>
          </p>
          <p><strong>Email</strong>: <%= user.email %>
          </p>
          <a href="/logout" class="col-3 btn btn-primary">Logout</a>
        </div>
        <div class="mt-5">
          <h2>Add a post</h2>
          <form action="/post/createPost" enctype="multipart/form-data" method="POST">
            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control" id="title" name="title">
            </div>
            <div class="mb-3">
              <label for="caption" class="form-label">Caption</label>
              <textarea class="form-control" id="caption" name="caption"></textarea>
            </div>
            <div class="mb-3">
              <label for="imgUpload" class="form-label">Image</label>
              <input type="file" class="form-control" id="imageUpload" name="file">
            </div>
            <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
          </form>
        </div>
      </div>
      <div class="col-6">
        <ul class="row list-unstyled">
          <% for(var i=0; i<posts.length; i++) {%>
            <li class="col-6 justify-content-between mt-5">
              <a href="/post/<%= posts[i]._id%>">
                <img class="img-fluid" src="<%= posts[i].image%>">
              </a>
            </li>
            <% } %>
        </ul>
        <div class="row justify-content-center mt-5">
          <a class="btn btn-primary" href="/feed">Return to Feed</a>
        </div>
      </div>
    </div>
  </div>
  </div>
  <%- include('partials/footer') -%>